.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
  'nav'
  'header'
  'main'
  'footer';
}

.nav{
  grid-area: nav;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  color: #9081af;
  text-align: center;
  grid-area: footer;
}

.nav, .main, .footer{
  padding: 1rem;
}

.logo {
  min-height: 92px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.grid_home_menu {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.grid_home_menu a{
  margin: 0.2rem;
  padding: 0.005rem;
  text-align: center;
  color: #f4f1de;
  cursor: pointer;
}

.grid_home_menu h2 {
  font-size: 1rem;
  margin: 0.6rem;
}

.grid_home_menu a:hover {
  color: #302840;
  background-color: #f4f1de;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-auto-rows: auto;
  width: 100%;
  grid-gap: 0 24px;
  margin: 25px auto;
}

.card {
  text-align: left;
  color:  #cfcdc3;
  text-decoration: none;
  box-shadow: 0px 4px 8px 0px #00000017;
  background: #372e48;
  background-image: linear-gradient(#413755,#413755),linear-gradient(90deg,#413755,#413755);
  background-clip:content-box,border-box;
  display: flex;
  flex-direction: column;
  padding: 1px;
  margin-bottom: 30px;
}

.card:hover {
  color: #f4f1de;
  box-shadow: 0px 8px 16px 0px #000000, 0px 6px 20px 0px #1b1b1b;
  background-image: linear-gradient(#846eac,#413755),linear-gradient(0deg,#413755,#e07a5f);
}

.card h2 {
  padding: 1rem;
  margin: 0 0 0.5rem 0;
  font-size: 1.2rem;
}

/* Pequenos aparelhos de 600px pra baixo*/
@media (max-width: 600px) {
}

/* Potrait tablets e phones de 600px pra cima*/
@media (min-width: 600px){
}

/* tablets em landscap, 768px pra cima*/
@media (min-width: 768px){
  .card {
    margin-bottom: 0;
  }
}

/* laptops/descktops, 992px pra cima */
@media (min-width: 992px) {
  
}

/* telas largas, 1200px pra cima*/
@media (min-width: 1310px) {
  .grid{
    width: 75%;
  }
}

@media (min-width: 1920px) {
  .grid{
    width: 60%;
  }
}

@media (min-width: 2000px) {
  .grid{
    width: 50%;
  }
}

@media (min-width: 3192px) {
  .grid{
    width: 30%;
  }
  .logo {
   margin-top: 5%;
  }
}